@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav flex-column refined-nav mb-2">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            <i class="fa fa-user-circle"></i> Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.NewslettersNavClass(ViewContext)" id="newsletters" asp-page="./Newsletters">
            <i class="fa fa-envelope"></i> Newsletters
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
            <i class="fa fa-at"></i> Email
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            <i class="fa fa-lock"></i> Password
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" id="external-login" asp-page="./ExternalLogins">
                <i class="fa fa-key"></i> External Logins
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.SubscriptionNavClass(ViewContext)" id="Subscription" asp-page="./Subscription">
            <i class="fa fa-credit-card"></i> Subscription
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
            <i class="fa fa-id-card"></i> Personal Data
        </a>
    </li>
</ul>













